extends layout
block content
    .row.banner
        .col-12
            #studentPrimaryInfo
              h1 Shane Collins
              #studentEmail
                h2 shane@anemail.com
                h3 14th August 2003
              .belt-stack
                span.badge.badge-pill.badge-belt-white White
                span.badge.badge-pill.badge-belt-blue Blue
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card.card-primary
                        .card-block
                            h2.card-title Classes
                            p.classes-current Python
                            p.classes JavaScript
                            p.classes Web Development
            .row
                .col-12
                    .card.card-primary.parent-card
                        .card-block
                            a.btn.btn-primary.float-right(href='/location/review/new') Edit
                            h2.card-title Parent/Guardian Information
                            p.classes Paul Williams
                            p.classes paul@williams.com
                            p.classes 087-0870870
